<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <title>MRJ</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/rootcss/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/rootcss/css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>




    <!---------------------------------------home-------------------------------------------------------->
    <section id="home">




        <!-- Brand and toggle get grouped for better mobile display -->
        <header class="top">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="#top">AMS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <div class="nav navbar-nav navbar-right">
                        <nav>
                            <ul>
                                <li><a href="#team">ABOUT US</a></li>
                                <li><a href="#footer">CONTACT</a></li>
                                <li><a href="@Url.Action("Login","Account")">LOGIN</a></li>
                                @*<li><a href="login.html">ADMIN</a></li>*@
                            </ul>
                        </nav>

                        <div class="mnav"><i class="fa fa-th-list" aria-hidden="true"></i></div>
                    </div>

                </div><!-- /.navbar-collapse -->

            </div><!-- /.container -->

        </header>

        <div class="logolike">
            <h5>EVERY <span>DAY</span> <span1>.</span1> ALL <span>DAY</span><span1>.</span1> ALL <span>THE</span> WAY <span1>!</span1></h5>
            <br> <h4>ATTENDANCE  COUNTS</h4>
        </div>

    </section><!-- /.home ------------------------------------------------->
    <!---------------------------------------home-------------------------------------------------------->
    <!---------------------------------------about-------------------------------------------------------->
    <section id="about">


        <div class="container">
            <div class="txt">
                <h1>Everything You Need And More.</h1>
            </div><!-----------txt-->


            <div class="ab">
                <div class="col-md-3 fonts">
                    <img id="comp-iqlwckov2imgimage" style="object-position:50% 50%;width:71px;height:51px;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/b71c4b_e8df5127ae4d4cd8a891760801cfca4d~mv2.png/v1/crop/x_0,y_1,w_94,h_66/fill/w_89,h_64,al_c,q_80,usm_0.66_1.00_0.01/b71c4b_e8df5127ae4d4cd8a891760801cfca4d~mv2.webp">
                    <h3>Add Users</h3>
                    <p>Choose from a huge selection of<br> designer-made templates.</p>
                </div>

                <div class="col-md-3 fonts">
                    <img id="comp-iqlwckovimgimage" style="object-position:50% 50%;width:73px;height:50px;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/b71c4b_064578056cc443c7ab26634b0e2381f8~mv2.png/v1/crop/x_0,y_5,w_94,h_59/fill/w_91,h_63,al_c,lg_1,q_80/b71c4b_064578056cc443c7ab26634b0e2381f8~mv2.webp">
                    <h3>Update Users </h3>
                    <p>Change, customize or add <br>anything to your site.</p>
                </div>

                <div class="col-md-3 fonts">
                    <img id="comp-iqlwckov3imgimage" style="object-position:50% 50%;width:85px;height:50px;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/b71c4b_2ac74cc189044b38bc05189fd072cf4f~mv2.png/v1/crop/x_0,y_6,w_94,h_58/fill/w_106,h_63,al_c,lg_1,q_80/b71c4b_2ac74cc189044b38bc05189fd072cf4f~mv2.webp">
                    <h3>Manage Users</h3>
                    <p>Create a professional online<br> presence with your own domain.</p>

                </div>

                <div class="col-md-3 fonts">
                    <img id="comp-iqlwckov1imgimage" style="object-position:50% 50%;width:75px;height:54px;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/b71c4b_524876ddef6042e1a6bace56baad727b~mv2.png/v1/crop/x_1,y_0,w_92,h_69/fill/w_94,h_68,al_c,lg_1,q_80/b71c4b_524876ddef6042e1a6bace56baad727b~mv2.webp">
                    <h3>Keep Record</h3>
                    <p>Create a website that looks<br> great on every device.</p>
                </div>

            </div><!--ab--->

        </div><!---------------conatianer-->

        <section id="abt">

            <div class="txt1"> TeamWork  Makes The<br> Dream  Work</br> </div>

        </section><!--------abt---------------->

        <section id="team">
            <div class="container">
                <div class="tm">
                    <h4>OUR TEAM </h4>
                   
                </div>

                <div class="team">
                    <div class="col-md-4">
                        <img src="~/rootcss/img/jnk.jpg" class="img-circle img-responsive">
                        <div class="te">
                            <h5>Janak Mahato </h5>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="~/rootcss/img/rabin.png" class="img-circle img-responsive">
                        <div class="te">
                            <h5>Rabin Raut</h5>
                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="~/rootcss/img/mukesh.jpg" class="img-circle img-responsive">
                        <div class="tem">
                            <h5>Mukesh Kr. Mahato</h5>
                            
                        </div>
                    </div>
                </div><!---team---->
            </div><!--------------------container------------------------------------->

        </section>

    </section><!-----------------about------------------------------------------------------------------->
    <!-----------------about------------------------------------------------------------------->
    <!---------------------------------------Contact-------------------------------------------------------->
    @RenderBody()
    <section id="footer">
        <div class="container">
            <h2>This Website Is Designed By MRJ TEAM.</h2>
            <div class="logo">
                <p>
                    ©For More  Contact Us
                </p>
            </div>
        </div>
    </section>




    <!---------------------------------------Footer-------------------------------------------------------->





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/rootcss/js/bootstrap.min.js"></script>
    <script src="~/rootcss/js/main.js"></script>
</body>

</html>
